body{
    background-image: url("img/12.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white; 
    
}   
.hidden{
    display: none; 
}

section{
    display: flex;
    flex-direction: column; 
    
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: change 1s ease-in;
    
}

input{
    padding: 10px;
    font-size: 16px; 
    border-radius: 5px;
}


/* 
#login-form{ 
        box-sizing: border-box;
        padding: 10px; 
        font-size: 20px; 
        border-radius: 5px;
        position:relative;
        top:400px
} */